/* 小工具添加 */
figure{
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    background: rgb(112, 112, 112);
}
/*现在时间*/
#NewDate{
    width: 310px;
    text-align: center;
    display: inline-block;
    color: rgb(216, 212, 212);
}
.login{
    width: 70px;
    float: right;
    display: none;
    color: #ddd7d7;
}
.login:hover{
    background: rosybrown;
}
/*掩盖*/
/* .video{
    width: 480px;
    height: 300px;
    margin: 15px;
    display: inline-block;
} */
#videoPlayer{
    opacity: 0;
    object-fit: fill;
    transition: all 0.6s ease-in-out 0s;
}
#move{
    width: 480px;
    height: 300px;
    margin: 15px;
    display: inline-block;
}
#bg-move{
    width: 480px;
    height: 300px;
    top: 15px;
    left: 15px;
    position: absolute;
    transition: all 0.6s ease-in-out 0s;
}
#move:hover #bg-move{
    opacity:0;
}
#move:hover #videoPlayer{
    opacity: 1;
}
/* 音乐播放 */
.music{
    border: none;
    bottom: 60px;
    position: fixed;
}
#sidebar,#music{
    display: none;
}
/* 音乐进度条 */
#Qplayer{
    left: -235px;
    width: 235px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    display: inline-block;
    transition: 0.2s ease-out;
    background: rgba(70, 69, 69, 0.8);
}
#musicProgress{
    bottom: 30px;
    display: inline-block;
    background: #747373;
}
.musicProgress{
    width: 97%;
    margin-top: 13px;
    margin-left: 3px;
    background: #ebe9e9;
}
.musicProgress,#musicProgress{
    height: 5px;
    opacity: 0.8;
    border-radius: 3px;
    position: relative;
}
/*播放与暂停，下一首*/
#musicPlay,#musicNext{
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    margin: 0px 0px 6px 10px;
}
#musicPlay{
    background: url('../images/tools/play.png');
}
#musicNext{
    background: url('../images/tools/next.png');
}
/* 音乐当前时长与总时长 */
#musicTimes{
    left: 95px;
    bottom: 8px;
    font-size: 12px;
    position: relative;
    color: rgb(199, 199, 199);
}
/*淡出*/
#arrow{
    transition: 0.2s ease-out;
}
#arrow label{
    width: 25px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background: rgb(73, 141, 204);
}
#arrow img{
    margin-top: 20px;
}
#sidebar:checked ~ #Qplayer{
    left: 0;
}
#sidebar:checked ~ #arrow{
    padding-left: 235px;
}
/*tools-回到顶部-天气查询*/
.tools{
    width: 48px;
    right: 10px;
    bottom: 15px;
    height: 192px;
    position: fixed;
    text-align: center;
}
#back_top{
    right: 4px;
    display: none;
    position: absolute;
}
.tools-x{
    bottom: 7px;
    position: absolute;
}
.tools #sky,.btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 6px;
    border-radius: 50%;
    display: inline-block;
    background: rgb(192, 191, 191);
}
.back-top{
    margin-right: 1px;
}
.tools .back-top,.icon{
    margin-top: 10px;
}
/*天气更改：可删除*/
#weather .wv-n-h-now-tmp{
    width: auto;
    height: 55px;
    top: 5px;
}
#weather .wv-n-h-now-tmp > span{
    width: 80px;
    height: 52px;
    font-size: 52px;
    margin-right: 150px;
    margin-top: -25px;
    display: inline-block;
    font-family: "PingFang SC", "Microsoft YaHei", Avenir, Helvetica, Arial, sans-serif;
}
#weather .wv-n-h-now-content{
    height: 55px;
}
#weather .wv-n-h-now-img > img{
    width: 22px;
    width: 22px;
    float: left;
    position: relative;
    top: 35px;
    left: 110px;
}
#weather .wv-n-h-now-txt{
    top: 15px;
}
#weather .wv-n-h-now-txt > span{
    margin-left: 78px;
}

/*天气*/
#weather{
    right: 58px;
    bottom: 112px;
    display: none;
    position: fixed;
}
#sky img{
    width: 24px;
    height: 24px;
    margin: 5px 0px 0px 2px;
}
#weather .wv-n-h-now-rain{
    top: 10px;
    position: relative;
}
#weather .wv-n-h-now-txt{
    /* top: 30px; */
    margin: 0;
    width: 250px;
    height: 20px;
    position: relative;
}
#weather .wv-n-h-now-txt > span{
    /* margin-left: 17px; */
    font-size: 14.4px;
}
#weather .wv-v-v-forecast{
    padding: 18px 0px 3px 6px;
}
#weather ul{
    width: 257px;
    height: 35px;
    display: block;
    line-height: 35px;
}
#weather .wv-f-forecast-date{
    float: left;
    width: 77px;
    text-align: left;
    padding-left: 8px;
}
#weather .wv-f-forecast-img{
    float: left;
    width: 50px;
    height: 10px;
    line-height: 10px;
    padding: 5px 0px 0px 0px;
}
#weather .wv-f-forecast-tmp{
    width: 120px;
    float: right;
}
.wv-f-forecast-tmp .wv-f-a{
    float: left;
    margin: 0px 50px 0px 10px;
}
/*交谈*/
#talk{
    top: 500px;
    right: 35px;
    width: 40px;
    height: 40px;
    background: rgb(192, 191, 191);
}
.robot-root,.chat{
    display: block;
}
/*外链播放*/
iframe{
    bottom: 50px;
    opacity: 0.4;
    display: none;
    position: fixed;
}
iframe:hover{
    opacity: 0.8;
}